{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>


    <title>Byzantium-Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'css/images/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'css/images/favicon/safari-pinned-tab.svg' %}" color="#ff0000">
  <link rel="shortcut icon" href="{% static 'css/images/favicon/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{% static 'css/images/favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">

    <!--internet css files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--static css files -->

    <link rel="stylesheet" href="{% static 'css/worldmap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.scss' %}">
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">


    <!--internet js files -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--APIs -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUbUzlOE1t6OIbdZpQx7k1IQgSfUYhmA&callback=initMap"
    async defer></script>

    <!--static js files -->
    <script type="text/javascript" src="{% static 'js/jquery.smoothscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/worldmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'images/galleryAll/jbcore/juicebox.js' %}"></script>
    <script>
            $(function() {
            $('html').smoothScroll(500);
            });
    </script>

</head>
<!--
Navbar by https://github.com/alphadsy - free to use
-->

  <nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs">
    <div class="container">
      <!-- left nav top -->
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
        <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+40288888888</b></span></a></li>
      </ul>
      <!-- right nav top -->
      <ul class="nav navbar-nav pull-right">
        <li><a href="" class="text-white">About Us</a></li>
        <li><a href="" class="text-white">Contact Us</a></li>
      </ul>
    </div>
    <div class="dividline light-grey"></div>
  </nav>
  <!-- down nav -->
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">
        <div class="navbar-header flex-item">
          <div class="navbar-brand" href="https://Byzantium-Travel.herokuapp.com">BYZANTIUM</div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs">
          <li><a href="{% url 'worldmap:home' %}">Features</a></li>
          <li><a href="{% url 'worldmap:getStarted' %}">Get Started</a></li>
          <li><a href="{% url 'chatapp:twilio' %}">Start Chat</a></li>
          <li><a href="{% url 'thirdauth:authentication' %}">Login</a></li>
          <li><a href="{% url 'thirdauth:logout' %}">Logout</a></li>
          <!--<li><a href="">TheTeam</a></li> -->
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">
          <li><a href="#" class=""></a></li>
        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{% url 'worldmap:home' %}">Features</a></li>
              <li><a href="{% url 'worldmap:getStarted' %}">Get Started</a></li>
              <li><a href="{% url 'chatapp:twilio' %}">Start Chat</a></li>
              <li><a href="{% url 'thirdauth:authentication' %}">Login</a></li>
              <li><a href="{% url 'thirdauth:logout' %}">Logout</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>

{% block content %}
{% endblock %}
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row" id="foot">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Home</a>
                    </li>
                    <li>
                        <a href="#!">Planner</a>
                    </li>
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                    <li>
                        <a href="#!">Github Repo</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://byzantium-travel.herokuapp.com/"> Byzantium-Travel-herokuapp.com </a>
    </div>
    <!--/.Copyright-->

</footer>
    <script>
     // toggle class scroll
$(window).scroll(function() {
    if($(this).scrollTop() > 50)
    {
        $('.navbar-trans').addClass('afterscroll');
    } else
    {
        $('.navbar-trans').removeClass('afterscroll');
    }

});

// demo only
// open link in new tab without ugly target="_blank"
$("a[href^='http']").attr("target", "_blank");

    </script>
</body>
</html>
