{% extends 'worldmap/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- <title>Twilio Chat Quickstart</title> -->
<link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
 -->

<header style="height:100vh; background-image:url( '/static/css/images/bg-planner.jpeg' );">
<div class="container">
  <div class="row planhead text-center">
    <h1>Start your planning here!</h1>
    <button class="btn btn-danger"><a href="#category">Start Planning</a>
</div>
</div>
</header>
<div class="darkpattern">
<div class="container">
  <div class="row cat" id="category">
    <div class="col-sm-12">
      <h2>Select one of the following categories</h2>
    </div>
    <div class="col-sm-12 categorybox" style="visibility:hidden; height:1px;">

    </div>
    <div class="col-xs-12 categorybox">
      <div class="col-xs-6 travelcategory">
        <section class="p12">
          <a href="#gallery" data-content="Nature" onclick="displayCategory('Nature')">Nature</a>
        </section>
      </div>
      <div class="col-xs-6 travelcategory">
        <section class="p16">
          <a href="#gallery" class="travelcategory" onclick="displayCategory('Citytrip')">Citytrip</a>
        </section>
      </div>
    </div>
    <div class="col-xs-12 categorybox">
      <div class="col-xs-6 travelcategory">
        <section class="p11">
          <a href="#gallery" class="travelcategory" onclick="displayCategory('Road')">Road</a>
        </section>
      </div>
      <div class="col-xs-6 travelcategory">
        <section class="p15">
          <a href="#gallery" class="travelcategory" onclick="displayCategory('All')">All
            <div class="t1">
              <div class="in"></div>
            </div>
            <div class="t2">
              <div class="in"></div>
            </div>
          </a>
        </section>
    </div>
  </div>
</div>
</div>
</div>
<div class="greypattern">
<div class="container"  id="gallery">
<div class="row gallery">
  <div class="col-sm-12">
    <h2 id="header2">Select your favourite destination</h2>
  </div>
      <script>
        new juicebox({
          baseUrl : "{% static 'images/galleryAll/' %}",
          containerId : "juicebox-container",
          galleryWidth: "100%",
          galleryHeight: "80%",
          backgroundColor: "transparent"
        });
      </script>
      <div id="juicebox-container"></div>
      <div class="container text-center"  style="margin-top:70px;">
        <button onclick="filterAfterLocation()" class="btn btn-danger" id="selector">
          <a href="#maprow">Filter World Map</a>
        </button>
      </div>
</div>
</div>
</div>
<div class="darkpattern">
<div class="container">
  <div class="row rowcon" id="rowmap">
    <div class="col-sm-12 col-lg-8">
        <h2>Map</h2>
          <section id="sectionmap"><div id="map"></div></section>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="col-sm12">
        <h2>Weather</h2>
        <p id="weatherplaceholder">Select a location to get a weather forecast ... </div>
        <p id="forecast" style="visibility: hidden;">Forecast for <a id="cityname"></a>: </p><div id=awxWeatherInfo>
      </div>
      <div class="rowcon">
      <div class="col-sm-12" id="longtext">
      </div>
    </div>
    <div class="col-sm-12 text-center" style="padding-top: 15px;">
      <div class="col-sm-3" id="day1">
        <p>Tomorrow</p>
      </div>
      <div class="col-sm-3" id="day2">
        <p>2 Days</p>
      </div>
      <div class="col-sm-3" id="day3">
        <p>3 Days</p>
      </div>
      <div class="col-sm-3" id="day4">
        <p>4 Days</p>
      </div>
    </div>

    <div class="col-sm-12">
      <h2>Info</h2>
      <p>Wikipedia Text</p>
    </div>
    </div>
  </div>
</div>
</div>

<div class="greypattern flight">
  <div class="container">
<div class="row" id="transport">
  <div class="col-sm-12 col-lg-12">
    <h2>Flights</h2>
    <form method="POST" action="" id="FlightForm">
          {% csrf_token %}
          Origin {{ form.origin }}
		  Destination {{ form.destination }}
		  Start Date {{ form.startdate }}

      <input type="submit" class="btn btn-danger" value="Search Flights" />
    </form>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Departure Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Price</th>
        <th scope="col">Airline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td id="departDate1"></td>
        <td id="returnDate1"></td>
        <td id="price1"></td>
        <td id="airline1"></td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td id="departDate2"></td>
        <td id="returnDate2"></td>
        <td id="price2"></td>
        <td id="airline2"></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td id="departDate3"></td>
        <td id="returnDate3"></td>
        <td id="price3"></td>
        <td id="airline3"></td>
      </tr>
    </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-danger"><a  href="#hotel">Next</a></button>
  </div>

</div>
</div>
</div>

<div class="darkpattern hotel">
  <div class="container">
<div class="row" id="hotel">
  <div class="col-sm-12 col-lg-12">
    <h2>Hotels</h2>
    <form method="POST" action="" id="HotelForm">
          {% csrf_token %}
          Location {{ hotel_form.location }}
		  Check-in {{ hotel_form.check_in }}
		  Check-out {{ hotel_form.check_out }}

      <input type="submit" class="btn btn-danger" value="Search Hotels" />
    </form>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Property Name</th>
        <th scope="col">Return Date</th>
        <th scope="col">Price</th>
        <th scope="col">Airline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td id="propertyname1"></td>
        <td id="contact1"></td>
        <td id="hprice1"></td>
        <td id="roomtype1"></td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td id="propertyname2"></td>
        <td id="contact2"></td>
        <td id="hprice2"></td>
        <td id="roomtype2"></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td id="propertyname3"></td>
        <td id="contact3"></td>
        <td id="hprice3"></td>
        <td id="roomtype3"></td>
      </tr>
    </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-danger"><a  href="#chat">Next</a></button>
  </div>

</div>
</div>
</div>



<div class="greypattern" class="chat">
  <div class="container">
<div class="row" id="chat">
  <div class="col-sm-12">
    <h2>Chat</h2>
      <div class="row">
        <section id="chatsec">
          <div id="messages" class="pre-scrollable"></div>
          <input id="chat-input" type="text" placeholder="Type message ..." autofocus/>
        </section>
  </div>
  </div>

</div>
</div>

</div>
<script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script src="{% static 'twilio/index.js' %}"></script>
<script>
    $('#maprow').smoothScroll();
    $('#gallery').smoothScroll();
    $('#worldmapgallery').smoothScroll();
    $('#transport').smoothScroll();
    $('#chat').smoothScroll();
    $('#getstarted').smoothScroll();
    $('#category').smoothScroll();
    $('#getStarted').smoothScroll();
</script>
<script type="text/javascript">
    $(function () {
        var isMetric = false;
        var language = "en";
        var apiKey = "XwOJOcwfVTOmjjxbG60OUemGyXtQGWiT";
        var awxClearMessages = function() {
            $("#awxWeatherInfo").html("...");
            $("#awxWeatherUrl").html("...");
        }
        var awxCityLookUp = function (freeText) {
            awxClearMessages();
            locationUrl = "http://dataservice.accuweather.com/locations/v1/cities/search?apikey=" + apiKey + "&q=" + freeText;
            $.ajax({
                type: "GET",
                url: locationUrl,
                dataType: "jsonp",
                cache: true,                    // Use cache for better reponse times
                jsonpCallback: "awxCallback",   // Prevent unique callback name for better reponse times
                success: function (data) { awxCityLookUpFound(data); }
            });
        };
        var awxCityLookUpFound = function (data) {
            var msg, locationKey = null;
            if (data.length == 1) {
                locationKey = data[0].Key;
                msg = "One location found: <b>" + data[0].LocalizedName + "</b>. Key: " + locationKey;
            }
            else if(data.length == 0) {
                msg = "No locations found."
            }
            else {
                locationKey = data[0].Key;
                msg = "Multiple locations found (" + data.length + "). Selecting the first one: " +
                    "<b>" + data[0].LocalizedName + ", " + data[0].Country.ID + "</b>. Key: " + locationKey;
            }
            $("#awxLocationInfo").html(msg);
            if(locationKey != null) {
                awxGetCurrentConditions(locationKey);
            }
        };
        var awxGetCurrentConditions = function (locationKey) {
            currentConditionsUrl = "http://dataservice.accuweather.com/forecasts/v1/daily/5day/" +
                locationKey + "?apikey=" + apiKey ;
                var wil = [];

                for (var i = 0; i < 45; ++i) {
                  if (i < 10) {
                  wil[i] = "https://developer.accuweather.com/sites/default/files/0" + i + "-s.png"
                } else {
                  wil[i] = "https://developer.accuweather.com/sites/default/files/" + i + "-s.png"
                }
                }
            $.ajax({
                type: "GET",
                url: currentConditionsUrl,
                dataType: "jsonp",
                cache: true,                    // Use cache for better reponse times
                //jsonpCallback: "awxCallback",   // Prevent unique callback name for better reponse times
                success: function (data) {
                        var html;
                        var data = data
                        var f =  "°" + data.DailyForecasts[0].Temperature.Maximum.Unit

                        var wc1 = data.DailyForecasts[0].Day.Icon
                        var wc2 = data.DailyForecasts[1].Day.Icon
                        var wc3 = data.DailyForecasts[2].Day.Icon
                        var wc4 = data.DailyForecasts[3].Day.Icon



                        var img1 = "<img src='" + wil[wc1] + "'>"
                        var img2 = "<img src='" + wil[wc2] + "'>"
                        var img3 = "<img src='" + wil[wc3] + "'>"
                        var img4 = "<img src='" + wil[wc4] + "'>"
                        var longtext = "<h4>" + data.Headline.Text + "</h4>"

                        var temp1 = "<p>Min: " + data.DailyForecasts[0].Temperature.Minimum.Value + f + " Max: " + data.DailyForecasts[0].Temperature.Maximum.Value + f + "</p>";
                        var temp2 = "<p>Min: " + data.DailyForecasts[1].Temperature.Minimum.Value + f + " Max: " + data.DailyForecasts[1].Temperature.Maximum.Value + f + "</p>";
                        var temp3 = "<p>Min: " + data.DailyForecasts[2].Temperature.Minimum.Value + f + " Max: " + data.DailyForecasts[2].Temperature.Maximum.Value + f + "</p>";
                        var temp4 = "<p>Min: " + data.DailyForecasts[3].Temperature.Minimum.Value + f + " Max: " + data.DailyForecasts[3].Temperature.Maximum.Value + f + "</p>";



                    $("#longtext").append(longtext);
                    $("#day1").append(img1);
                    $("#day1").append(temp1);
                    $("#day2").append(img2);
                    $("#day2").append(temp2);
                    $("#day3").append(img3);
                    $("#day3").append(temp3);
                    $("#day4").append(img4);
                    $("#day4").append(temp4);

                    $("#forecast").css("visibility", "visible");
                }
            });
        };
        $("#selector").click(function () {
            var text = $("#cityname").text();
            awxCityLookUp(text);
        });
    });
</script>
<script>  $(document).ready(initMap); </script>

{% endblock %}
