/*@import url('https://fonts.googleapis.com/css?family=Varela+Round'); */
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);
body {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Martel Sans', sans-serif;
}
.ontop {
  position: absolute;
  z-index: 999;
  top: 25%;
  color: white;
  left: 0;
  right: 0;
}
#forecast {
  visibility: hidden;
}
.darkpattern {
  /*background-image: url( '/static/css/images/bg-pattern.png' );*/
  background-color: #2E2F33
}
.greypattern {
  /* background-image: url( '/static/css/images/bg-pattern-grey.png' );
  background-size: 25px; */
  background-color: #3D3E44;
}
h2, h3, h4 {
  color: white;
}
td, th {
  color: white;
}
.planhead h1 {
  color: white;
  margin-top: 20%;
}
.darkpattern h2,h3,h4,p {
  color: white;
}
a:link {
  color:white;
}
.loginbutton {
    max-width: 15%
}
.row h1 {
    text-align: center;
}
.content div {
    background-color: white;
}
footer {
    background-color: #141414;
    color: white;
}
footer h2 {
    color: white;
}
/* #plannertext {
    padding-top: 8vw;
} */
a:hover {
    color: white;
    text-decoration: none;
}
a:focus {
    color: white ;
    text-decoration: none ;
}
.travelcategory {
    background: transparent;
}
.map {
    padding-top: 7vw;
}
/* .map img {
    max-width: 100%;
} */
.row {
    padding-top: 55px;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 20px;
}
.row#foot {
  min-height: 0px;
}
.row.mapcon {
  padding: 0;
  min-height: 0;
  padding: 0;
}
.mapPhotos {
    padding-top: 50px;
    padding-bottom: 100px;
}
/* .dropdown-menu {
    z-index: 999;
} */
.categorybox {
    padding-top: 5%;
}
.cat {
  max-height: 100vh;
}
h2 {
  text-align: center;
}
.flight finput {
  color: black !important;
}
.catbutton {
  margin-top: 50px
}
#header2 {
  padding-bottom: 15px;
}
#map {
  margin: auto !important;
}
#foot {
  height: auto;
}

/*scroll effect*/
.navbar-trans {
  background-color: transparent;
  border: none;
  transition: top 1s ease;
}

/*double row*/
.navbar-doublerow > .navbar{
	display: block;
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}
.navbar-doublerow .nav{
	padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
	padding: 10px auto;
	font-size: 12px;
}
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
	padding: 0px auto;
	float: left;
	color: #fff;
	font-size: 32px;
}
.navbar-doublerow .navbar-down ul>li>a{
	font-size: 16px;
	color: #fff;
	transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
	border-bottom: 1px solid #fff;
	color: #fff;
}
.navbar-doublerow .navbar-down .dropdown{
    padding: 5px;
    color: #000;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
  color: #000;
  border-bottom: none;
}
.navbar-doublerow.navbar-trans.afterscroll {
}
.navbar-doublerow.navbar-trans.afterscroll {
   top:-50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}
a {
  color: lightgrey;
}
img {
    max-width: 100%;
  
}
#map img { max-width: inherit; }
#weatherplaceholder {padding-top: 15px;}
#cityname {color: white; font-weight: bold;}
#cityname:hover {color: white;}
#chatsec{ min-height: 70vh;}
#tothetop{text-align: center; padding-bottom: 50px;}
#sectionmap {
  height: auto;
  max-height: none;
}
