
 html, body {
    height: 50vh;
    margin: 0;
    padding: 0;
  } */

h1 a {
    color: 'black';
    font-family: 'cursive';
}

#map {
               height: 80vh;
               width: 80vh%;
            }

#title{
            text-align: center;
            }


#description{
text-align: center;
}

#imageInfoBox{
width:300px;
height:200px;
}

.infoWindow{
color: black;
}

#wikipediaText{
color:white;
}

#scoreboard{
    display: none;
}

.checked {
    color: orange;
}