<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle=""
>
	<image imageURL="images/Omaha.jpg"
	thumbURL="thumbs/Omaha.jpg"
	linkURL="images/Omaha.jpg"
	linkTarget="_blank">
	<title>Omaha</title>
  </image>
  <image imageURL="images/Denver.jpg"
	thumbURL="thumbs/Denver.jpg"
	linkURL="images/Denver.jpg"
	linkTarget="_blank">
	<title>Denver</title>
  </image>
  <image imageURL="images/SanFrancisco.jpg"
	thumbURL="thumbs/SanFrancisco.jpg"
	linkURL="images/SanFrancisco.jpg"
	linkTarget="_blank">
    <title>SanFrancisco</title>
  </image>
  <image imageURL="images/NewYork.jpg"
	thumbURL="thumbs/NewYork.jpg"
	linkURL="images/NewYork.jpg"
	linkTarget="_blank">
	<title>NewYork</title>
  </image>
  <image imageURL="images/Yosemite.jpg"
	thumbURL="thumbs/Yosemite.jpg"
	linkURL="images/Yosemite.jpg"
	linkTarget="_blank">
	<title>Yosemite</title>
  </image>
  <image imageURL="images/Yellowstone.jpg"
	thumbURL="thumbs/Yellowstone.jpg"
	linkURL="images/Yellowstone.jpg"
	linkTarget="_blank">
	<title>Yellowstone</title>
  </image>
  <image imageURL="images/Route66_SantaMonica.jpg"
	thumbURL="thumbs/Route66_SantaMonica.jpg"
	linkURL="images/Route66_SantaMonica.jpg"
	linkTarget="_blank">
    <title>Route66 SantaMonica</title>
  </image>
  <image imageURL="images/Route66_Amarillo.jpg"
	thumbURL="thumbs/Route66_Amarillo.jpg"
	linkURL="images/Route66_Amarillo.jpg"
	linkTarget="_blank">
	<title>Route66 Amarillo</title>
  </image>
</juiceboxgallery>
